.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  width: 700px;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 90%;
  position: relative;
}

/* .modal::-webkit-scrollbar {
    display: none;
} */

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header {
    background: #009688;
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header h2 {
    font-size: 25px;
    font-weight: 300;
}

.modal-body {
    padding: 12px;    
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

.modal-input{
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;
}

#modal-save{
    font-size: 15px;
    background: #009688;
    color: #fff;
    width: 100%;
    padding: 8px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

#modal-save:hover{
    opacity: 0.7;
}

.modal-close:hover {
    background: #ccc;
    color: #000;
}

.modal-select {
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 15px;
    outline: none;
    margin-bottom: 10px;
    width: 100%;
}

.wrap-cate-price {
    display: flex;
    gap: 10px;
}

.col-3 {
    width: 33.3333%;
}

.text-desc {
    width: 100%;
    font-size: 15px;
    min-height: 50px;
    resize: vertical;
    padding: 8px;
    margin-bottom: 10px;
}

.modal-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

.modal-table thead tr {
    background: #22C55E;
}

.modal-table thead th {
    color: #fff;
    font-size: 16px;
    padding: 5px;
    font-weight: 300;
}

.modal-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.modal-table td {
    text-align: center;
    padding: 5px;
}

.modal-table td button{
    min-width: 50px;
    cursor: pointer;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.modal-table td button:hover {
    opacity: 0.6;
}

.wrap-size .btn-add {
    margin-bottom: 10px;
}


.image-list {
  display: flex;
  gap: 12px;
  margin: 10px 0;
}

.image-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-remove {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  height: 20px;
}

.main-check {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.main-check input {
  margin-right: 5px;

}